<div class="container"  class="mat-elevation-z8">
  <table mat-table [dataSource]="properties">
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let property">{{ property.address }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let property">{{ property.price }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let property">{{ property.description }}</td>
    </ng-container>
    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef>Available</th>
      <td mat-cell *matCellDef="let property">{{ property.available ? 'Available' : 'Unavailable' }}</td>
    </ng-container>
    <ng-container matColumnDef="agentName">
      <th mat-header-cell *matHeaderCellDef>Agent Name</th>
      <td mat-cell *matCellDef="let property">{{ property.agent.name }}</td>
    </ng-container>
    <ng-container matColumnDef="agentEmail">
      <th mat-header-cell *matHeaderCellDef>Agent Email</th>
      <td mat-cell *matCellDef="let property">{{ property.agent.email }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let property">
        <button mat-icon-button (click)="viewPropertyDetails(property.id)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['address', 'price', 'description', 'available', 'agentName', 'agentEmail', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['address', 'price', 'description', 'available', 'agentName', 'agentEmail', 'actions'];"></tr>
  </table>
  <button mat-raised-button color="primary" class="submit-button" (click)="createProperty()">Create Property</button>
</div>
